# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db

# Model files
*.pkl
*.joblib
*.hdf5

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# OneDrive temp files
~$*

# Other
*.bak